<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chikeandroid.debtmanager" >

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:name=".DebtManagerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".features.home.MainActivity"
                  android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".features.addeditdebt.AddEditDebtActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".features.home.MainActivity" />
        </activity>
        <activity android:name=".features.persondetail.PersonDetailActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".features.home.MainActivity" />
        </activity>
        <activity
                android:name=".features.debtdetail.DebtDetailActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".features.home.MainActivity" />
        </activity>
        <activity
                android:name=".features.addeditdebt.ContactsActivity"
                android:label="@string/app_name"/>
    </application>

</manifest>